<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <appSettings>
    <add key="apiKey" value="d86b929dc7cb67f9c96c0c0259f6b0a4" />
    <add key="mapUrl" value="https://www.google.co.za/maps/place/Harbour,+Durban/@-29.8831052,31.0136369,14z/data=!4m13!1m7!3m6!1s0x1ef7a9019b2fa7ad:0x9ec214ee099c63d8!2sHarbour,+Durban!3b1!8m2!3d-29.8723388!4d31.0249093!3m4!1s0x1ef7a9019b2fa7ad:0x9ec214ee099c63d8!8m2!3d-29.8723388!4d31.0249093" />
  </appSettings>
</configuration>